body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#videoContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

img {
    position: absolute;
    pointer-events: none;
    transition: all 0.3s ease; /* Voor soepele aanpassing van grootte */
}
